@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}

/*aside {
  background: #fafafafa;
  height: 92vh;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
*/
