@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}

.spin {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: slateblue;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: white;
  padding: 2rem;
  outline: none;
  animation: fade-in 0.16s ease-out;
  border-radius: 4px;
}

@keyframes fade-in {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }

  1000% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 699px) {
  [data-reach-dialog-content] {
    width: 90vw;
    margin: 10vh auto;
    padding: 0.9rem;
    outline: none;
  }
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #aab; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #fff; /* creates padding around scroll thumb */
}
